.caroussel {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .caroussel-image img {
    width: 100%;
    height: auto;
  }
  
  /* button { */
    /* position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  } */
  
  button.caroussel-prev {
    left: 0;
  }
  
  button.caroussel-next {
    right: 0;
  }
  