@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@400;700&display=swap');



.content-carousel {
  text-align: center;
  margin-bottom: 1.8rem;
}

.container-carousel {
  background-color: #aec2e742;
  margin: 0 auto;
  width: 100%;
  height: 27rem;
}

.carousel-title {
  color: #375A9E;
  font-family: 'Bellota Text', sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.6rem;
}

.carousel-images img {
  display: flex;
  margin: 0 auto;
  height: 17rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
}

.carousel-images {
  border-color: #fff;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.6rem;
  width: 15rem;
  aspect-ratio: 1/1;
  display: inline-block;
  box-shadow: 0.06rem 0.1rem 0.06rem 0.06rem rgba(0, 0, 0, 0.144);
}


.slick-list {
  margin: 0 -50px;
}


.next-slick-arrow  {
  position: relative;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 50%;
  right: 4rem;
}

.prev-slick-arrow {
  position: relative;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 50%;
  left: 4rem;
}



/* large screens */
@media (min-width: 1440px){

}
/* "normal" computer screens*/
@media (max-width: 1439px) and (min-width: 1024px) {
}

/* laptops */
@media (max-width: 1023px) {
}

/* tablets landscape */
@media (max-width: 1023px) and (min-width: 768px) {
}
/* tablets*/
@media (max-width: 768px) {

}
/* smartphones landscape*/
@media (max-width: 480px) {
 
}
/* smartphones */
@media (max-width: 320px) {
  
}




/*.dot {
  background-color: #bbb;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #717171;
}*/


/*.carousel-container::-webkit-scrollbar {
  height: 8px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/











/*Carousel de Fred*/
/*.caroussel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .caroussel-image img {
    width: 100%;
    height: auto;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button.caroussel-prev {
    left: 0;
  }
  
  button.caroussel-next {
    right: 0;
  }
  */