* {
    font-family: 'Comfortaa';

}


/* SMALL SCREEN */
@media screen and (max-width: 750px) {
    .div-MainMap {
        display: none;
    }
    .div-MobileMap{
        display: none;
    }

    .footer-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #375A9E;
        overflow: hidden;
        color: white;
    }
    .container-icon-coordonnees{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 5% 0% 8% 0%;
    }

    .div-place{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .a-icon-place, .link-map {
        display: none;
    }
    .div-phone, .div-mail, .div-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10% 0% 0% 0%;
    }

    .iconFooter{
        width: 25px;
    }
    .img-icon-phone, .a-icon-mail, .a-icon-media {
        padding-bottom: 3%;
    }

    
    .div-icon-media{
        margin-bottom: 3%;
    }
    a.link-media {
        color: white;
    }
    a.link-media:hover{
        color: orange ;
        font-weight: 600;
    }
    a.MailTo-link {
        color: white;
    }
    a.MailTo-link:hover {
        color: orange ;
        font-weight: 600;
    }

     /* BUTTON LINK */
    .button-media{
        padding: 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #375A9E;
        color: white;
    }
    p.p-button-media {
        font-size: 15px;
        text-decoration: underline;
    }
    .div-icon-media{
        display: flex;
        width: fit-content;
        margin-bottom: 8%;
    }
    .button-media:hover{
        color: orange;
        font-weight: 600;
        cursor: pointer;
    }

    .div-block-linkMedia{
        width: 60vw;
        text-align: center;
        margin-top: 2%;
        padding: 3% 2% 3% 2%;
        color:#375A9E;
        background-color: white;
        border: white solid 2px;
        border-radius: 5px;
    } 

    .div-link-media{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-aLinkMedia{
        display: flex;
        justify-content: center;
    }
    .p-linkMedia{
        margin-bottom: 2%;
    }
    .aLinkMedia{
        color: #375A9E;
        font-weight: 600;
        margin: 0% 3% 0% 3%;
    }
    .aLinkMedia:hover{
        color: orange;
        font-weight: 600;
        cursor: pointer;
    }


    .div-horaires {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 8% 0% 8% 0%;
        /* margin-bottom: 5%; */
        .text-titre-horaires{
            padding-bottom: 20%;
        }
    }
    .subtext-horaires{
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        list-style: none;
    }
    .hr-mobile {
        color: #9BACCF;
        height: 1%;
        width: 80%;
    }

    .div-text-copyright{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5% 0% 5% 0%;
    }
    .div-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    .p-infos-1 {
        width: 100%;
        text-align: center;
        margin: 5% 0% 3% 0%;
    }
    .p-infos-2{
        width: 100%;
        text-align: center;
        margin: 3% 0% 5% 0%;
    }
    .copyright{
        margin-top: 5%;
        font-size: 10px;
        color: #9BACCF;
    }
}







/* MEDIUM SCREEN */
@media screen and (min-width: 751px) and (max-width: 1023px){
    .footer-container{
        padding: 5% 2% 1% 2%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 10px;
        width: 100%;
        margin: 20px auto;
        justify-content: space-between;
        background-color: #375A9E;
        overflow: hidden;
        color: white;
    }

    .container-icon-coordonnees{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
        margin-left: 4%;
        width: 50%;
    }

    .div-MainMap {
        display: none;
    }

    .div-MobileMap{
        background-color: transparent;
        border: none;
        grid-column: 3;
    }

    .div-place, .div-phone, .div-mail, .div-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1% 0% 1% 0%;
        width: 330px;
    }
    
    .link-map {
        color: white;
        margin-left: 18%;
        width: 310px;
        margin-left: 19%;
    }
    .link-map:hover {
        color: orange;
        font-weight: 600;
    }
    .container-mobile-map-google {
        display: none;
    }


    .iconFooter{
        width: 25px;
    }
    .img-icon-phone{
        margin-right: 19%;
    }
    .a-icon-mail {
        margin-right: 19%;
    }

    .div-icon-media{
        display: flex;
        margin-right: 5%;
    }

    a.link-media {
        color: white;
    }
    a.link-media:hover{
        color: orange ;
        font-weight: 600;
    }


    /* BUTTON LINK */
    button.button-media{
        padding: 0;
        width: 120%;
        display: flex;
        align-items: center;
        background-color: #375A9E;
        color: white;
    }
    p.p-button-media {
        font-size: 15px;
        text-decoration: underline;
    }
    .div-icon-media{
        display: flex;
        width: 6em;
        margin-right: 3%;
    }
    .button-media:hover{
        color: orange;
        font-weight: 600;
    }

    .div-block-linkMedia{
        width: 42vw;
        margin-top: 2%;
        padding: 3% 2% 3% 2%;
        color:#375A9E;
        background-color: white;
        border: white solid 2px;
        border-radius: 5px;
    } 
    .div-aLinkMedia{
        display: flex;
        justify-content: center;
    }
    .p-linkMedia{
        margin-bottom: 2%;
    }
    .aLinkMedia{
        color: #375A9E;
        font-weight: 600;
        margin: 0% 3% 0% 3%;
    }
    .aLinkMedia:hover{
        color: orange;
        font-weight: 600;
    }



    a.MailTo-link {
        color: white;
    }
    a.MailTo-link:hover {
        color: orange ;
        font-weight: 600;
    }

    .div-horaires{
        grid-column: 2;
        grid-row: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
    }
    li {
        list-style: none;
    }
    .subtext-horaires{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-titre-horaires {
        margin-bottom: 20%;
    }
    .img-icon-time {
        margin-top: 3%;        
    }
    
    .hr-mobile {
        display: none;
    }


    .div-text-copyright {
        margin: 5% 5% 0% 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        grid-column: span 3;
    }
    .div-infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5%;
        }
    .copyright{
        color: #9BACCF;
    }    
}

/* LARGE SCREEN */
@media screen and (min-width: 1024px) {
    .footer-container{
        padding-top: 2%;
        padding-bottom: 1%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 10px;
        width: 100%;
        margin: 20px auto;
        background-color: #375A9E;
        overflow: hidden;
        color: white;
    }
    .container-icon-coordonnees{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
    }

    .container-icon-coordonnees nav {
        margin-left: 4%;
        width: 50%;
    }

    .div-MainMap {
        background-color: transparent;
        border: none;
        margin: 0 auto;
    }

    .div-MobileMap {
        display: none;
    }

    .div-place, .div-phone, .div-mail, .div-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1% 0% 1% 0%;
        width: 330px;
    }

    .div-place a {
        margin-right: 2%;
    }

    .link-map {
        color: white;
        margin-left: 18%;
        width: 310px;
    }
    .link-map:hover {
        color: orange;
        font-weight: 600;
    }
    .container-mobile-map-google {
        display: none;
    }

    .iconFooter{
        width: 25px;
    }


    
    .img-icon-phone{
        margin-right: 20%;
    }
    .a-icon-mail {
        margin-right: 20%;
    }
    .div-icon-media{
        margin-right: 4.5%;
    }


    a.link-media {
        color: white;
    }
    a.link-media:hover{
        color: orange ;
        font-weight: 600;
    }

/* BUTTON LINK */
    .button-media{
        width: 120%;
        display: flex;
        align-items: center;
        background-color: #375A9E;
        color: white;
    }
    p.p-button-media {
        font-size: 15px;
        text-decoration: underline;
    }
    .div-icon-media{
        display: flex;

        width: 6em;
        margin-right: 3%;
    }
    .button-media:hover{
        color: orange;
        font-weight: 600;
        /* background-color: #9BACCF;
        border: solid 2px white;
        border-radius: 5px;
        padding: 3%;
        color: white; */
    }

    .div-block-linkMedia{
        margin-top: 2%;
        color:#375A9E;
        background-color: white;
        border: white solid 2px;
        border-radius: 5px;
        transform: scaleY(1);
        transition: opacity 0.3s ease, max-height 0.3s ease, transform 0.3s ease;
    }
    .firstLi-ulLinkMedia{
        font-weight: 600;
        font-size: 15px;
        padding: 2%;
    }
    .secondLi-ulLinkMedia, .thirdLi-ulLinkMedia, .fourthLi-ulLinkMedia {
        padding-bottom: 3% ;
        padding-left: 3%;
    }
    .aLinkMedia{
        color: #375A9E;
        font-weight: 600;
        margin: 0% 3% 0% 3%;
    }
    .aLinkMedia:hover{
        color: orange;
        font-weight: 600;
    }

    a.MailTo-link {
        color: white;
    }
    a.MailTo-link:hover {
        color: orange ;
        font-weight: 600;
    }




    .div-horaires{
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
    }
    li {
        list-style: none;
    }
    .subtext-horaires{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-titre-horaires {
        margin-bottom: 20%;
    }
    .img-icon-time {
        margin-top: 3%;
        
    }
    .hr-mobile {
        display: none;
    }


    .div-text-copyright {
        margin: 0% 5% 0% 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        grid-column: span 3;
    }
    .div-infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5%;
        }
    .copyright{
        color: #9BACCF;
    }    
}