@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


:root {
    --orange: rgba(255, 165, 0, 0.9137);
    --bleu-roi: rgba(55, 90, 158, 1);
    --bleu-clair: rgba(136, 159, 202, 0.5);
    --bleu-foncé: rgba(5, 63, 92, 1);
    --comfortaa: 'Comfortaa', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--comfortaa);
}

body {
    width: 100%;
    overflow-x: hidden;
}

button {
    border: none;
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}